<nav>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/experience.html' | relative_url }}">Experience</a></li>
        <li><a href="{{ '/projects.html' | relative_url }}">Projects</a></li>
        <li><a href="{{ '/education.html' | relative_url }}">Education</a></li>
        <li><a href="{{ '/skills.html' | relative_url }}">Skills</a></li>
        <li><a href="{{ '/certifications.html' | relative_url }}">Certifications</a></li>
        <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
    </ul>
</nav>
